.content  {
  border: 1px solid #333;
  background-color: pink;
  padding: 30px;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0 0 1rem 0;
  width: auto;
}

.content.top {
  margin: 3rem 0 1rem 0;
}

@media only screen and (max-width:1300px){
   .content {
     background-color: orange;
   }
}

@media only screen and (max-width:820px){
      .content {
        background-color: red;
      }
}

@media only screen and (max-width:420px){
  .content {
    background-color: blue;
  }
}
